<h2>Features</h2>

<% @features.each do |feature| %>
  <%= render 'feature', :feature => feature %>
<% end %>

<script type="text/javascript">
  $(function() {
   $(".add_user").click(function(e) {
     e.preventDefault();
     $("<input type='text' name='users[]' />").insertBefore(this);
   });
  });
</script>
