<ul id="features">
  <% @features.each do |feature| %>
    <li id="<%= feature.name %>" class="feature clearfix"><%= render 'feature', :feature => feature %></li>
  <% end %>
</ul>

<div class="add-feature">
  <%= form_tag features_path do %>
    <input name="name" placeholder="feature_name"></input>
    <button>Add Feature</button>
  <% end %>
</div>

<% content_for :onready do %>
  $("select").chosen({no_results_text: "No groups matched"});
  $("input.users").chosen();

  $("select, input.users").change(function() {
    $(this).closest("form").submit();
  });
<% end %>
