<!DOCTYPE html>
<html>
<head>
  <title>RolloutUI</title>
  <%= stylesheet_link_tag    "rollout_ui/application" %>
  <%= javascript_include_tag "rollout_ui/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
