<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Rollout UI</title>
</head>
<body>
  <div id="main">
    <%= yield %>
  </div>

  <div id="footer">
    <p>Powered by <a href="http://github.com/jrallison/rollout_ui">RolloutUI</a> v<%= RolloutUI::Version %></p>
  </div>
</body>
</html>
