<form method="post" action="<%= url_path("/features") %>" id="create-new-feature">
  <input type="text" name="name" id="new-feature-name" placeholder="Add a new feature">
  <input type="submit" value="Create" id="new-feature-submit">
</form>
